<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/quizbowl/schema">
            <span class="icon github">
              <img class="github-icon-svg" src="{{ "/svg/github-icon.svg" | prepend: site.baseurl }}" />
            </span>
            <span class="username">fork us on GitHub</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
