<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <img src="{{ "/svg/menu-icon.svg" | prepend: site.baseurl }}" />
      </a>
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/tournament">Tournament</a>
        <a class="page-link" href="{{ site.baseurl }}/registration">Registration</a>
        <a class="page-link" href="{{ site.baseurl }}/phase">Phase</a>
        <a class="page-link" href="{{ site.baseurl }}/match">Match</a>
        <a class="page-link" href="{{ site.baseurl }}/team">Team</a>
        <a class="page-link" href="{{ site.baseurl }}/player">Player</a>
        <a class="page-link" href="{{ site.baseurl }}/serialization">Serialization</a>
      </div>
    </nav>

  </div>

</header>
